
# Asemu local stuff
data/
docs/
experiments/
log.txt

## Visual Studio Code
.vscode/

## Eclipse
Debug/
Release/
.settings/
.cproject
.project

## Makefile CMake Meson
build/
.build/

## Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

## Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

## MacOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
