
# Asemu keep out of repo for fow
data/
docs/
examples/
experiments/
tests/

# Dev build debug stuff
build/
.build/
cache/
.cache/
temp/
.temp/
log.txt

## Visual Studio Code
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

## Eclipse
Debug/
Release/
.settings/
.cproject
.project

## Makefile CMake Meson
CMakeFiles
cmake_install.cmake
CMakeCache.txt
compile_commands.json
