
# Asemu local stuff
data/
docs/
experiments/
temp/
log.txt

## Visual Studio Code
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

## Eclipse
Debug/
Release/
.settings/
.cproject
.project

## Makefile CMake Meson
build/
.build/
